
body{
    background-color: #90aaa0;
    font-family: 'Spectral', serif, system-ui;
}

.box{
    width: 90%;
    margin: 70px 15px;
    padding: 20px;
    background-color: #fef2e7;
    text-align: left;
    border-radius: 12px;
    box-shadow: 0 0 7px black;
    border: 1px solid #e2ba6e;

}

.h2{
    font-size: 1.7em;
}
.iconLike,
.cartIcon,
.iconMenu,
.iconHome {
    width: 30px;
    height: auto;   
}


@media (max-width: 426px) {
    .box{
        margin: 70px 0;
    }
}
